body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(217deg, transparent, #7eb8da, #be9ddf70 40%),
                linear-gradient(130deg, transparent, #ffa5d8, #be9ddf 30%),
                linear-gradient(-110deg, #be9ddf, #92ddea  20%);
    background-attachment: fixed;
    color: white; 
}

.gameboard-container {
    display: grid;
    width: 30vw;
    height: 30vw;
    font-size: 7vw;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3%;
}

.gameboard-grid {
    text-align: center;
}

.title {
    font-size: 5vw;
    padding-bottom: 15px;
    font-family: Garamond, "Times New Roman", serif;
}

.winner {
    font-size: 3vw;
    padding-top: 20px;
    font-family: Garamond, "Times New Roman", serif;
}   

.coin {
    background: white;
    width: 20px;
    height: 20px;
}

form {
    display: grid;
    grid-template-columns: 70% 30%;
    font-size: 1.8vw;
    height: 5%;
    width: 30%;
    padding-bottom: 20px;
    font-family: Garamond, "Times New Roman", serif;
}

label{
    justify-self: center;
    align-self: center;
}

input{
    justify-self: center;
    align-self: center;
}

.gameboard-grid[data-grid="1"]{
    border-style: none solid solid none;
    border-color: white;
    border-width: thick;
}

.gameboard-grid[data-grid="2"]{
    border-style: none solid solid none;
    border-color: white;
    border-width: thick;
}
.gameboard-grid[data-grid="3"]{
    border-style: none none solid none;
    border-color: white;
    border-width: thick;
}
.gameboard-grid[data-grid="4"]{
    border-style: none solid solid none;
    border-color: white;
    border-width: thick;
}
.gameboard-grid[data-grid="5"]{
    border-style: none solid solid none;
    border-color: white;
    border-width: thick;
}
.gameboard-grid[data-grid="6"]{
    border-style: none none solid none;
    border-color: white;
    border-width: thick;
}
.gameboard-grid[data-grid="7"]{
    border-style: none solid none none;
    border-color: white;
    border-width: thick;
}
.gameboard-grid[data-grid="8"]{
    border-style: none solid none none;
    border-color: white;
    border-width: thick;
}
.gameboard-grid[data-grid="9"]{
    border-style: none none none none;
    border-color: white;
    border-width: thick;
}


